page-home {
    .white { color: #ffffff }
    .transitions-screen { background: #dddddd; padding: 30px; border-radius: 6px; }
    .animations-lib { background: #505050; padding: 30px; border-radius: 6px; }
    .animate-me {
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #ff0000;
    }
}
