page-animations {
    .white { color: #ffffff }
    .animations-lib { background: #505050; padding: 30px; border-radius: 6px; margin-top: 10px; margin-bottom: 10px; overflow: hidden; }
    .animate-me {
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #ff0000;
    }
}
